@tailwind base;
@tailwind components;
@tailwind utilities;

/* আপনি চাইলে কিছু ডিফল্ট স্টাইলও যোগ করতে পারেন */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}