
# ---------------------------------------------------
# Core files to always ignore in a Node/Web Project
# ---------------------------------------------------

# Dependency folders
/node_modules
/.pnp

# Build folders and distribution files
/build
/dist
/dist-ssr
/coverage

# Local environment variables and local configuration
.env
.env.local
*.local

# Logs and debug files
*.log
npm-debug.log*
yarn-debug.log*

# ---------------------------------------------------
# IDE and System Files
# ---------------------------------------------------
# VS Code specific files
.vscode/

# OS and Editor files
.DS_Store
Thumbs.db